.career {
  background-color: var(--bg-color);
  &.bg-image {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .intro {
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
    


  .career-container {
    border: 1px solid #EDEDED;
    .career-category-block {
      .career-category-title {
        background-color: #EDEDED;
        color: var(--e-global-color-secondary);
        @media (min-width: 768px) {
          padding: 36px 56px 36px 90px;
        }
        @media (max-width: 767px) {
          padding: 36px 24px;
        }
        span {
          font-weight: 500;
        }
      }
      .career-list {
        counter-reset: career-counter;
        .career-item {
          cursor: pointer;
          .item-intro {
            background-color: var(--e-global-color-primary);
            padding: 40px 24px;
            counter-increment: career-counter;
            position: relative;
            @media (min-width: 768px) {
              column-gap: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            .left {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              @media (min-width: 768px) {
                column-gap: 30px;
              }
              .title {
                font-weight: 600;
                color: var(--e-global-color-text);
              }
              h5 {
                font-weight: 600;
                color: var(--e-global-color-accent);
                margin-top: 8px;
                margin-bottom: 0;
              }
              .count {
                position: relative;
                &::before {
                  content: counter(career-counter, decimal-leading-zero);
                  font-weight: 600;
                  display: inline-block;
                  width: 35px;
                  text-align: left;
                  color: #EDEDED;
                  
                }
              }
            }
            .right {
              display: flex;
              align-items: center;
              @media (min-width: 992px) {
                column-gap: 60px;
                justify-content: right;
              }
              @media (max-width: 991px) and (min-width: 768px) {
                column-gap: 20px;
                justify-content: right;
              }
              @media (max-width: 767px) {
                margin-top: 40px;
                margin-left: 36px;
                justify-content: space-between;
              }
              .date {
                color: var(--e-global-color-text);
                width: max-content;
              }
              .apply-now {
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }

          .item-content {
            background-color: #f8f8f8;
            @media (min-width: 768px) {
              padding: 0px 24px 40px 90px;
            }
            @media (max-width: 767px) {
              padding: 0px 24px 40px 24px;
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid #EDEDED;
          }

          &.has_content {
            .item-intro {
              &:hover {
                background-color: #f8f8f8;
              }
            }
            &.active {
              .item-intro {
                background-color: #f8f8f8;
              }
              background-color: #f8f8f8;
            }
          }
        }
      }
    }
  }
}

#careerform {
  @media (min-width: 1200px) {
    .modal-xl {
      --bs-modal-width: 1300px;
    }
  }
  .modal-content {
    border-radius: 34.75px;
    .btn-close {
      background: none;
      padding: 0;
      opacity: 1;
      position: absolute;
      right: 35px;
      top: 15px;
    }
    .row {
      .left-column {
        .left {
          height: 100%;
          width: 100%;
          .featured-image {
            position: relative;
            height: 100%;
            width: 100%;
            border-top-left-radius: 34.75px;
            border-bottom-left-radius: 34.75px;
            background-color: var(--e-global-color-secondary);
            img {
              border-top-left-radius: 34.75px;
              border-bottom-left-radius: 34.75px;
              object-fit: cover;
            }
          }
          .details {
            position: absolute;
            bottom: 30px;
            left: 30px;
            display: grid;
            gap: 12px;
            h2 {
              font-size: var(--font-2xl);
              font-weight: 600;
              line-height: 135%;
              color: var(--e-global-color-primary);
            }
            .description {
              color: var(--e-global-color-primary);
              font-size: var(--font-m);
              line-height: 150%;
              font-weight: 500;
            }
          }
        }
        @media (max-width: 1023px) {
          display: none;
        }
      }

      .right-column {
        @media (max-width: 1023px) {
          flex: 0 0 auto;
          width: 100%;
        }
        .details-on-mob {
          @media (min-width: 1024px) {
            display: none;
          }
          @media (max-width: 1023px) {
            padding: 40px 40px 0px 40px;
          }
        }
      }

      .wpcf7 {
        padding: 40px;
        @media (min-width: 1024px) {
          height: 100%;
        }
        .wpcf7-form {
          height: 100%;
          .agreement {
            font-size: 16px;
            line-height: 150%;
            font-weight: 500;
            color: var(--e-global-color-text);
          }
          label {
            font-size: 12px;
            line-height: 18px;
            color: var(--e-global-color-text);
            font-weight: 500;
            padding-bottom: 5px;
            background-color: var(--e-global-color-primary);
            width: 100%;
          }
          textarea {
            height: 80px;
          }
          input:not(.wpcf7-submit),
          textarea {
            padding: 8px 12px;
            border-bottom: 1px solid #CACACA;
            width: 100%;
            font-size: 14px;
          }
          .wpcf7-spinner {
            position: absolute;
            bottom: 58px;
            right: 85px;
          }
          input:not(.wpcf7-submit).wpcf7-not-valid {
            border-bottom: 1px solid red;
          }
          .wpcf7-not-valid-tip {
            background-image: url('data:image/svg+xml,<svg fill="%23ff0000" width="32px" height="32px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 9.5899 50.2070 L 46.4102 50.2070 C 49.9257 50.2070 52.1289 47.6758 52.1289 44.4883 C 52.1289 43.5273 51.8947 42.5664 51.3791 41.6758 L 32.9336 8.6758 C 31.8789 6.7773 29.9570 5.7930 28.0117 5.7930 C 26.0899 5.7930 24.1211 6.7773 23.0664 8.6758 L 4.6446 41.6992 C 4.1289 42.5898 3.8711 43.5273 3.8711 44.4883 C 3.8711 47.6758 6.0977 50.2070 9.5899 50.2070 Z M 28.0117 34.1523 C 26.7695 34.1523 26.0899 33.4492 26.0430 32.1836 L 25.7149 20.6055 C 25.6680 19.3399 26.6524 18.4024 27.9883 18.4024 C 29.3008 18.4024 30.3320 19.3633 30.2852 20.6289 L 29.9336 32.1836 C 29.8868 33.4726 29.2070 34.1523 28.0117 34.1523 Z M 28.0117 42.8008 C 26.6524 42.8008 25.3868 41.7227 25.3868 40.2695 C 25.3868 38.8164 26.6289 37.7383 28.0117 37.7383 C 29.3946 37.7383 30.6368 38.7930 30.6368 40.2695 C 30.6368 41.7461 29.3711 42.8008 28.0117 42.8008 Z"/></svg>');
          }
          .wpcf7-form-control-wrap[data-name="your-resume"] {
            .wpcf7-not-valid-tip {
              visibility: visible;
              color: red;
              width: 100%;
              bottom: -25px;
              top: auto;
            }
          }
          .floating-label {
            position: relative;
            &:focus-within {
              label {
                top: -8px;
                font-size: 12px;
                color: var(--e-global-color-secondary);
              }
            }
            &.filled label {
              top: -8px;
              font-size: 12px;
            }
          }
          .wpcf7-form-control-wrap[data-name="your-application"] {
            visibility: hidden;
            opacity: 0;
            height: 0;
            margin: 0;
            padding: 0;
          }
          .upload-file {
            label {
              color: var(--e-global-color-secondary);
            }
          }
          .wpcf7-response-output {
            display: none;
          }
          &.sent {
            padding-bottom: 40px;
            .wpcf7-response-output {
              display: block;
              height: 100%;
              background-color: transparent;
              border-color: transparent !important;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: var(--font-l);
              line-height: 150%;
              text-align: center;
              font-weight: 600;
              margin: auto;
            }
            .form-field {
              display: none;
            }
          }
          .custom-file-upload {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 100%;
            position: relative; 
            padding: 32px 20px;  
            margin-top: 10px;
            margin-bottom: 32px;
            height: 88px;
            input[type="file"] {
              display: none;
            }
            .upload-label {
              display: inline-flex;
              align-items: center;
              cursor: pointer;
              justify-content: center;
              .upload-icon {
                margin-right: 8px;
              }
            }
            .file-name {
              font-weight: 500;
              font-size: 12px;
              display: none;
              @media (max-width: 567px) {
                max-width: 200px;
                word-break: break-all;
              }
            }
            .remove-file {
              display: none;
              background: none;
              border: none;
              font-size: 12px;
              cursor: pointer;
              padding: 2px 0px 0px 10px;
            }
            /*hasded border */
            --dash-length: 10px; 
            --gap: 10px;         
            --thickness: 1px;    
            --color: #CACACA;  
            background:
              /* top */
              repeating-linear-gradient(
                to right,
                var(--color) 0 calc(var(--dash-length)),
                transparent calc(var(--dash-length)) calc(var(--dash-length) + var(--gap))
              ),
              /* bottom */
              repeating-linear-gradient(
                to right,
                var(--color) 0 calc(var(--dash-length)),
                transparent calc(var(--dash-length)) calc(var(--dash-length) + var(--gap))
              ),
              /* left (vertical) */
              repeating-linear-gradient(
                to bottom,
                var(--color) 0 calc(var(--dash-length)),
                transparent calc(var(--dash-length)) calc(var(--dash-length) + var(--gap))
              ),
              /* right (vertical) */
              repeating-linear-gradient(
                to bottom,
                var(--color) 0 calc(var(--dash-length)),
                transparent calc(var(--dash-length)) calc(var(--dash-length) + var(--gap))
              );
            background-size:
              100% var(--thickness),  
              100% var(--thickness),  
              var(--thickness) 100%, 
              var(--thickness) 100%; 
            background-position:
              top left,   
              bottom left, 
              top left,   
              top right; 
            background-repeat:
              repeat-x, 
              repeat-x, 
              repeat-y,
              repeat-y; 
          /*hasded border end*/
          }
        }
      }
    }
  }
}