.page-template-template-contact-page {
    .contact_form {
        background-color: var(--bg-color);
        &.bg-image {
            background-image: var(--bg-image);
            background-position: top center;
            background-repeat: no-repeat;
            @media (min-width: 1024px) {
                background-size: 100% 512px;
            }
            @media (max-width: 1023px) and (min-width: 768px) {
                background-size: 100% 600px;
            }
            @media (max-width: 767px) {
                background-size: 100% 768px;
            }
        }
        .row-layout {
            .content {
                @media (min-width: 1024px) {
                    margin-right: 100px;
                }
                @media (max-width: 1023px) {
                    margin-bottom: 50px;
                }
            }
        }
        .wpcf7-form {
            @media (min-width: 992px) {
                border-radius: 52px;
            }
            @media (max-width: 991px) {
                border-radius: 32px;
            }
            .wpcf7-submit {
                margin-top: 0;
            }
            .floating-label {
                position: relative;
                label {
                    font-size: 16px;
                    font-weight: 500;
                }
                &:focus-within {
                  label {
                    top: -14px;
                    font-size: 14px;
                  }
                }
                &.filled label {
                  top: -14px;
                  font-size: 14px;
                }
            }
            input:not(.wpcf7-submit),
            textarea {
                padding: 8px 12px;
                border-bottom: 1px solid #CACACA;
                width: 100%;
                font-size: 18px;
            }
            textarea {
                height: 185px;
            }
        }

    }

    .contact_information {
        .row {
            justify-content: center;
            row-gap: 50px;
            .col {
                .icon {
                    margin-bottom: 24px;
                    background-image: url('data:image/svg+xml,<svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 52C0 23.2812 23.2812 0 52 0H112C116.418 0 120 3.58172 120 8V68C120 96.7188 96.7188 120 68 120H8C3.58172 120 0 116.418 0 112V52Z" fill="url(%23paint0_linear_86_485)"/><defs><linearGradient id="paint0_linear_86_485" x1="60" y1="0" x2="60" y2="120" gradientUnits="userSpaceOnUse"><stop stop-color="%23018BED"/><stop offset="1" stop-color="%23014F87"/></linearGradient></defs></svg>');
                    background-repeat: no-repeat;
                    width: 120px;
                    height: 120px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 50px;
                        object-fit: contain;
                    }
                }
                .details {
                    display: grid;
                    row-gap: 12px;
                    text-align: center;
                    h4 {
                        font-weight: 500;
                        color: var( --e-global-color-text);
                    }
                    h3 {
                        color: var(--e-global-color-secondary);
                    }
                }
            }
        }
    }

    .map_iframe {
        padding-left: 0px;
        padding-right: 0px;
        iframe {
            border: 0;
            width: 100%;
            @media (min-width: 768px) {
                height: 726px;
            }
            @media (max-width: 767px) {
                height: 500px;
            }
        }
    }
}