.cta_consultation {
    background-color: var(--bg-color);
    &.bg-image {
      background-image: var(--bg-image);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .content {
        display: grid;
        @media (min-width: 768px) {
            gap: 32px;
        }
        @media (max-width: 767px) {
            gap: 24px;
        }
        h2 {
            font-size: var(--font-5xl);
            .last-word {
                padding: 0px 10px;
                border-radius: 10px;
                background-size: cover;
                background-position: left;
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml,<svg width="423" height="114" viewBox="0 0 423 114" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="423" height="114" rx="10" fill="url(%23paint0_linear_72_1001)" fill-opacity="0.39"/><defs><linearGradient id="paint0_linear_72_1001" x1="0" y1="57" x2="423" y2="57" gradientUnits="userSpaceOnUse"><stop stop-color="%23004096"/><stop offset="1" stop-color="%23004096" stop-opacity="0"/></linearGradient></defs></svg>');
            }
        }
        h3 {
            font-weight: 500;
            @media (min-width: 992px) {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .btn {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 768px) {
                margin-top: 8px;
            }
        }
    }
}