.event-list {
    .row {
        @media (min-width: 992px) {
            row-gap: 64px;
        }
        @media (max-width: 991px) {
            row-gap: 40px;
        }
        .item{
            .featured-image {
                position: relative;
                background-color: var(--theme-alt-bg-color);
                border-radius: 64px 8px 64px 8px;
                margin-bottom: 32px;
                overflow: hidden;
                @media (min-width: 1200px) {
                    height: 400px;
                }
                @media (max-width: 1199px) and (min-width: 992px) {
                    height: 300px;
                }
                @media (max-width: 991px) and (min-width: 768px) {
                    height: 300px;
                }
                @media (max-width: 767px) {
                    height: 300px;
                }
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 64px 8px 64px 8px;
                    transition: 0.5s;
                }
                h5 {
                    padding: 10px 34px;
                    border-radius: 222px;
                    color: var(--e-global-color-accent); 
                    background-color: var(--e-global-color-primary);
                    position: absolute;
                    bottom: 24px;
                    left: 24px;
                    z-index: 2;
                    border: 1px solid var(--e-global-color-primary);
                    transition: 0.5s;
                }
                &:hover {
                    img {
                        transform: scale(1.3);
                    }
                    h5 {
                        color: var(--e-global-color-primary);
                        background-color: var(--e-global-color-accent); 
                    }
                }
            }
            .details {
                display: grid;
                row-gap: 18px;
                .head {
                    display: grid;
                    row-gap: 8px;
                    h3 {
                        color: var(--e-global-color-secondary);
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }
                    .event_date {
                        color: var(--e-global-color-accent);
                        font-weight: 600;
                    }
                }
                .location {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    font-weight: 600;
                }
            }

            &.previous-event {
                filter: grayscale(100%);
            }
        }
    }
}

body.single-events {
    .event {
        .details {
            display: grid;
            gap: 24px;
            .event_date {
                font-weight: 600;
                span {
                    color: var(--e-global-color-accent);
                }
            }
            .location {
                display: flex;
                align-items: center;
                column-gap: 10px;
                font-weight: 600;
            }
        }
        .content {
            @media (min-width: 992px) {
                margin-top: 64px;
            }
            @media (max-width: 991px) {
                margin-top: 40px;
            }
        }
    }
}