.gallery {
  background-color: var(--bg-color);
  &.bg-image {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .intro {
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  
  .acf-gallery {
    column-gap: 24px;
    &.masonry_layout {
      @media (min-width: 992px) {
        column-count: var(--count-lg);
      }
      @media (max-width: 991px) and (min-width: 768px) {
        column-count: var(--count-md);
      }
      @media (max-width: 767px) {
        column-count: var(--count-sm);
      }
    }

    &.grid_layout {
      display: grid;
      @media (min-width: 992px) {
        grid-template-columns: repeat(var(--count-lg), 1fr);
      }
      @media (max-width: 991px) and (min-width: 768px) {
        grid-template-columns: repeat(var(--count-md), 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(var(--count-sm), 1fr);
      }
    }

    .acf-gallery-item {
      display: inline-block;
      width: 100%;
      margin-bottom: 24px;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  
}