.gallery {
  background-color: var(--bg-color);
  &.bg-image {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .intro {
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  
  .acf-gallery {
    column-gap: 24px;
    &.masonry_layout {
      @media (min-width: 992px) {
        column-count: var(--count-lg);
      }
      @media (max-width: 991px) and (min-width: 768px) {
        column-count: var(--count-md);
      }
      @media (max-width: 767px) {
        column-count: var(--count-sm);
      }
    }

    &.grid_layout {
      display: grid;
      @media (min-width: 992px) {
        grid-template-columns: repeat(var(--count-lg), 1fr);
      }
      @media (max-width: 991px) and (min-width: 768px) {
        grid-template-columns: repeat(var(--count-md), 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(var(--count-sm), 1fr);
      }
    }

    .acf-gallery-item {
      display: inline-block;
      width: 100%;
      margin-bottom: 24px;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &.carousal {
      .acf-gallery-item {
        margin: 0;
      }
      .slick-list {
        @media (min-width: 768px) {
          padding-right: 100px;
          padding-left: 100px;
        }
        @media (max-width: 767px) {
          padding-right: 30px;
          padding-left: 30px;
        }
        &:before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          z-index: 2;
          @media (min-width: 768px) {
            width: 130px;
          }
          @media (max-width: 767px) {
            width: 50px;
          }
        }
        &:before {
          background-image: linear-gradient(90deg, #fff 50%, transparent 100%);
          left: 0;
        }
        &:after {
          background-image: linear-gradient(270deg, #fff 50%, transparent 100%);
          left: auto;
        }
      }
      .slick-arrow {
        z-index: 2;
        width: auto;
        height: auto;
        &::before {
          display: none;
        }
        &.slick-prev {
          left: 0;
        }
        &.slick-next {
          right: 0;
        }
        @media (max-width: 992px) and (min-width: 768px) {
          width: 50px;
        }
        @media (max-width: 767px) {
          width: 35px;
        }
        svg {
          width: 100%;
          height: auto;
        }
      }
    }

  }
  
}