body {
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-family: $font-primary;
    font-weight: 400;
    font-size: var(--font-l);
    line-height: 135%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    font-weight: bold;
}
body:not(.home) h1 {
    font-size: var(--font-4xl);
}
body.home h1 {
    font-size: var(--font-3xl);
}
h2 {
    font-size: var(--font-2xl);
}
h3 {
    font-size: var(--font-xl);
}
h4 {
    font-size: var(--font-l);
}
h5 {
    font-size: var(--font-s);
}
h6 {
    font-size: var(--font-xs);
}
p:not(:last-child) {
    margin-bottom: 24px;
}
p:last-child {
    margin-bottom: 0;
}
.btn {
    font-size: var(--font-m);
    line-height: normal;
    font-weight: 600;
    text-decoration: none;  
    padding: 18px 32px;
    border-radius: 100px;
    transition: 0.3s;
}


.appearance-default {
    color: var(--e-global-color-text);
    h1,
    h2,
    h4,
    h5,
    h6,
    a:not(.btn) {
        color: var( --e-global-color-secondary);
    }
    h3 {
        color: var( --e-global-color-accent);
    }
    p {
        color: var(--e-global-color-text);
    }
    .btn {
        background-color: var( --theme-bg-color);
        color: var(--e-global-color-primary);
        &:hover {
            box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-accent) 60%, transparent);
        }
    }
}
.appearance-theme {
    color: var(--e-global-color-primary);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a:not(.btn) {
        color: var(--e-global-color-primary);
    }
    .btn {
        color: var( --e-global-color-accent);
        background-color: var(--e-global-color-primary);
        &:hover {
            box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-primary) 60%, transparent);
        }
    }
}

.content {
    h2 {
        margin-top: 15px;
    }
    h3 {
        margin: 0;
    }
    .text-editor {
        margin-top: 24px;
        b, strong {
            font-weight: 600;
        }
    }
}

.featured-image {
    img {
        width: 100%;
        height: auto;
    }
}