.hero-front-page {
    background-color: var(--bg-color);

    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;

        &.bg-md-image {
            background-image: var(--bg-md-image);
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;
        }
    }
    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;

        &.bg-sm-image {
            background-image: var(--bg-sm-image);
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;
        }
    }
    .row {
        @media (min-width: 768px) {
            row-gap: 80px;
        }
        @media (max-width: 767px) {
            row-gap: 50px;
        }
    }
    .content {
        h1 {
            margin-bottom: 12px;
        }
        .text-editor {
            @media (min-width: 1200px) {
                width: 640px;
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .btn {
            margin-top: 36px;
        }
    }
    .featured-img {
        position: relative;
        img {
            position: relative;
            z-index: 2;
            width: 100%;
            height: auto;
            @media (min-width: 768px) {
                // transform: scale(1.25) translateX(0px);
            }
        }
        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: top left;
            background-image: url('data:image/svg+xml,<svg width="182" height="89" viewBox="0 0 182 89" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M176.772 85.9881C177.029 87.3446 178.338 88.2357 179.694 87.9783C181.051 87.7209 181.942 86.4126 181.684 85.0561L179.228 85.5221L176.772 85.9881ZM0.14555 34.1705C-0.00726782 35.5427 0.98126 36.779 2.35349 36.9318L24.7152 39.4221C26.0875 39.575 27.3238 38.5864 27.4766 37.2142C27.6294 35.842 26.6409 34.6057 25.2687 34.4529L5.39153 32.2392L7.60514 12.3621C7.75796 10.9899 6.76943 9.7536 5.3972 9.60078C4.02498 9.44796 2.78868 10.4365 2.63586 11.8087L0.14555 34.1705ZM179.228 85.5221L181.684 85.0561C176.893 59.8027 155.485 27.8077 123.433 11.5231C91.1128 -4.89802 48.2398 -5.22266 1.06894 32.4946L2.63019 34.4472L4.19144 36.3997C49.9691 -0.203595 90.7498 0.525888 121.168 15.9807C151.856 31.5721 172.273 62.2748 176.772 85.9881L179.228 85.5221Z" fill="white"/></svg>');
            width: 100%;
            height: 100%;
            top: auto;
            right: 0;
            bottom: auto;
            left: -140px;
            z-index: 1;
        }
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom right;
            background-image: url('data:image/svg+xml,<svg width="252" height="114" viewBox="0 0 252 114" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.74177 2.0463C5.43247 0.700673 4.09089 -0.139429 2.74527 0.169874C1.39965 0.479176 0.559546 1.82076 0.868848 3.16638L3.30531 2.60634L5.74177 2.0463ZM251.946 63.8346C252.046 62.4575 251.011 61.2601 249.633 61.1601L227.193 59.5307C225.815 59.4308 224.618 60.4661 224.518 61.8431C224.418 63.2202 225.453 64.4176 226.83 64.5176L246.778 65.966L245.33 85.9134C245.23 87.2905 246.265 88.4879 247.642 88.5879C249.019 88.6879 250.216 87.6526 250.316 86.2755L251.946 63.8346ZM3.30531 2.60634L0.868848 3.16638C8.7456 37.4342 39.7547 80.167 84.5374 100.795C129.594 121.549 188.318 119.817 251.087 65.5447L249.452 63.6536L247.817 61.7624C186.397 114.868 129.748 116.115 86.6292 96.2537C43.2366 76.2659 13.2674 34.7865 5.74177 2.0463L3.30531 2.60634Z" fill="white"/></svg>');
            width: 100%;
            height: 100%;
            top: auto;
            right: 0;
            bottom: auto;
            left: 0;
            z-index: 3;
        }
    }
}






