.section_by_column {
    background-color: var(--bg-color);
    &.bg-image {
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .row-layout {
        .content {
            .text-editor {
                font-size: var(--font-size);
                line-height: var(--line-height);
            }
        }
        .icon-list {
            margin-top: 40px;
            display: grid;
            gap: 28px;
            .item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 18px;
                h4 {
                    margin: 0;
                }
            }
        }
        .text-end {
            .icon-list {
                .item {
                    justify-content: flex-end;
                }
            }
        }
        .text-center {
            .icon-list {
                .item {
                    justify-content: center;
                }
            }
        }
        .customers {
            position: relative;
            z-index: 2;
        }
        .customers-image {
            .featured-image{
                position: relative;
                z-index: 1;
                @media (min-width: 992px) {
                    margin-top: -260px;
                }
            }
        }
    }
}