.team {
  background-color: var(--bg-color);
  &.bg-image {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .intro {
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  .row {
    @media (min-width: 768px) {
      row-gap: 64px;
    }
    @media (max-width: 767px) {
      row-gap: 40px;
    }
    .team-member {
      display: grid;
      @media (min-width: 768px) {
        row-gap: 43px;
      }
      @media (max-width: 767px) {
        row-gap: 24px;
      }
      .image {
        img {
          width: 100%;
          height: auto;
          border-radius: 95px 8px 95px 8px;
        }
      }
      .details {
        display: grid;
        row-gap: 8px;
        h3 {
          margin: 0;
        }
      }
    }
  }
  &.appearance-default {
    .team-member {
      .details {
        h3 {
          color: var(--e-global-color-secondary);
        }
        .text-editor {
          color: var(--e-global-color-accent);
        }
      }
    }
  }
}