/*
$font-scale: 0.9;
$font-xs: 16px * $font-scale;
$font-s: 18px * $font-scale;
$font-m: 20px * $font-scale;
$font-l: 24px * $font-scale;
$font-xl: 32px * $font-scale;
$font-2xl: 52px * $font-scale;
$font-3xl: 72px * $font-scale;
$font-4xl: 80px * $font-scale;
*/
@media (min-width: 1366px) {
  :root {
    --font-2xl: 47.32px;
    --font-3xl: 65.52px;
    --font-4xl: 72.8px;
  }
  :root {
    --font-xs: 14.56px;
    --font-s: 16.38px;
    --font-m: 18.2px;
    --font-l: 21.84px;
    --font-xl: 29.12px;
  }
}

@media (max-width: 1367px) and (min-width: 992px) {
  :root {
    --font-2xl: 39px;
    --font-3xl: 54px;
    --font-4xl: 60px;
  }
  :root {
    --font-xs: 12.8px;
    --font-s: 14.4px;
    --font-m: 16px;
    --font-l: 19.2px;
    --font-xl: 25.6px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  :root {
    --font-2xl: 37.96px;
    --font-3xl: 52.56px;
    --font-4xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
  }
}

@media (max-width: 767px) {
  :root {
    --font-2xl: 37.96px;
    --font-3xl: 52.56px;
    --font-4xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
  }
}

header#site-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
  padding: 15px 0px;
  background-color: var(--e-global-color-primary);
}

header#site-header .header-logo img {
  height: 100%;
}

@media (min-width: 768px) {
  header#site-header .header-logo img {
    width: 158px;
  }
}

@media (max-width: 767px) {
  header#site-header .header-logo img {
    width: 130px;
  }
}

header#site-header .main-nav ul.menu {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (min-width: 1200px) {
  header#site-header .main-nav ul.menu {
    gap: 12px;
  }
}

header#site-header .main-nav ul.menu li.menu-item {
  padding: 10px;
}

@media (max-width: 1129px) and (min-width: 1025px) {
  header#site-header .main-nav ul.menu li.menu-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}

header#site-header .main-nav ul.menu li.menu-item a {
  font-size: var(--font-m);
  line-height: normal;
  font-weight: 500;
  color: var(--e-global-color-secondary);
  text-decoration: none;
}

header#site-header .main-nav ul.menu li.menu-item.current-menu-item {
  border-bottom: 1px solid var(--theme-bg-color);
}

header#site-header .main-nav ul.menu li.menu-item.current-menu-item a {
  color: var(--theme-bg-color);
}

@media (max-width: 1199px) {
  header#site-header .main-nav {
    display: none;
  }
}

@media (max-width: 1199px) {
  header#site-header .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
}

header#site-header .header-right .header-cta {
  text-align: right;
}

@media (max-width: 1199px) and (min-width: 992px) {
  header#site-header .header-right .header-cta .btn {
    padding: 18px 16px;
  }
}

@media (max-width: 767px) {
  header#site-header .header-right .header-cta .btn {
    font-size: 16px;
    padding: 14px 18px;
  }
}

@media (min-width: 1200px) {
  header#site-header .header-right .harmburger {
    display: none;
  }
}

@media (max-width: 1199px) {
  header#site-header .header-right .harmburger ul.menu {
    padding: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    margin: 0;
    gap: 12px;
  }
  header#site-header .header-right .harmburger ul.menu li.menu-item a {
    font-size: var(--font-m);
    line-height: normal;
    font-weight: 500;
    color: var(--e-global-color-secondary);
    text-decoration: none;
  }
  header#site-header .header-right .harmburger ul.menu li.menu-item.current-menu-item a {
    color: var(--e-global-color-accent);
  }
  header#site-header .header-right .harmburger #harmburger-toggle {
    border: none;
    outline: 0;
    background: var(--theme-bg-color);
    border-radius: 3px;
    padding: .6em;
    cursor: pointer;
  }
  header#site-header .header-right .harmburger #harmburger-toggle .line-1, header#site-header .header-right .harmburger #harmburger-toggle .line-2, header#site-header .header-right .harmburger #harmburger-toggle .line-3 {
    width: 22px;
    height: 2px;
    background-color: var(--e-global-color-primary);
    margin: 4px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header#site-header .header-right .harmburger #harmburger-toggle.is-open .line-1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  header#site-header .header-right .harmburger #harmburger-toggle.is-open .line-2 {
    opacity: 0;
  }
  header#site-header .header-right .harmburger #harmburger-toggle.is-open .line-3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }
  header#site-header .header-right .harmburger .mobile-navigation {
    position: absolute;
    background-color: var(--e-global-color-primary);
    right: 0;
    width: 50%;
    padding: 40px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    /* remove visibility here */
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
    z-index: 1000;
    pointer-events: none;
    /* prevent clicks when hidden */
    height: 100vh;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  header#site-header .header-right .harmburger .mobile-navigation {
    top: 105px;
  }
}

@media (max-width: 1199px) and (max-width: 767px) {
  header#site-header .header-right .harmburger .mobile-navigation {
    top: 90px;
  }
}

@media (max-width: 1199px) {
  header#site-header .header-right .harmburger .mobile-navigation.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

/* Overlay (background behind menu) */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Prevent scroll when menu open */
body.menu-open {
  overflow-y: hidden;
  height: 100vh;
}

:root {
  --e-global-color-primary: #FFFFFF;
  --e-global-color-secondary: #29282B;
  --e-global-color-text: #575757;
  --e-global-color-accent: #246BCB;
  --theme-bg-color: #018BED;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--font-l);
  line-height: 135%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: bold;
}

body:not(.home) h1 {
  font-size: var(--font-4xl);
}

body.home h1 {
  font-size: var(--font-3xl);
}

h2 {
  font-size: var(--font-2xl);
}

h3 {
  font-size: var(--font-xl);
}

h4 {
  font-size: var(--font-l);
}

h5 {
  font-size: var(--font-s);
}

h6 {
  font-size: var(--font-xs);
}

p:not(:last-child) {
  margin-bottom: 24px;
}

p:last-child {
  margin-bottom: 0;
}

.btn {
  font-size: var(--font-m);
  line-height: normal;
  font-weight: 600;
  text-decoration: none;
  padding: 18px 32px;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.appearance-default {
  color: var(--e-global-color-text);
}

.appearance-default h1,
.appearance-default h2,
.appearance-default h4,
.appearance-default h5,
.appearance-default h6,
.appearance-default a:not(.btn) {
  color: var(--e-global-color-secondary);
}

.appearance-default h3 {
  color: var(--e-global-color-accent);
}

.appearance-default p {
  color: var(--e-global-color-text);
}

.appearance-default .btn {
  background-color: var(--theme-bg-color);
  color: var(--e-global-color-primary);
}

.appearance-default .btn:hover {
  -webkit-box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-accent) 60%, transparent);
          box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-accent) 60%, transparent);
}

.appearance-theme {
  color: var(--e-global-color-primary);
}

.appearance-theme h1,
.appearance-theme h2,
.appearance-theme h3,
.appearance-theme h4,
.appearance-theme h5,
.appearance-theme h6,
.appearance-theme p,
.appearance-theme a:not(.btn) {
  color: var(--e-global-color-primary);
}

.appearance-theme .btn {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
}

.appearance-theme .btn:hover {
  -webkit-box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-primary) 60%, transparent);
          box-shadow: 0px 4px 10px 0px color-mix(in srgb, var(--e-global-color-primary) 60%, transparent);
}

.content h2 {
  margin-top: 15px;
}

.content h3 {
  margin: 0;
}

.content .text-editor {
  margin-top: 24px;
}

.content .text-editor b, .content .text-editor strong {
  font-weight: 600;
}

.featured-image img {
  width: 100%;
  height: auto;
}

footer {
  padding: 50px 0px;
}

footer#site-footer {
  background-color: var(--bg-color);
}

footer#site-footer.footer-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer#site-footer .footer-container {
  gap: 32px;
}

footer#site-footer .footer-container .divider {
  background-color: #ffffff96;
  height: 0.1px;
}

@media (max-width: 991px) {
  footer#site-footer .footer-container .contact_details {
    row-gap: 24px;
  }
}

footer#site-footer .footer-container .contact_details .col .item {
  gap: 6px;
}

footer#site-footer .footer-container .contact_details .col .item h4 {
  color: var(--e-global-color-primary);
  margin-bottom: 2px;
}

footer#site-footer .footer-container .contact_details .col .item h6 {
  color: var(--e-global-color-primary);
  font-size: var(--font-s);
  font-weight: 400;
  font-family: "Istok Web", sans-serif;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  footer#site-footer .footer-container .contact_details .col:last-child .item {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  footer#site-footer .footer-container .contact_details .col:first-child .item {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

footer#site-footer .footer-container .about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#site-footer .footer-container .about .footer-logo img {
  width: 158px;
  height: 100%;
}

footer#site-footer .footer-container .about .footer-about {
  font-size: var(--font-s);
  line-height: normal;
  color: var(--e-global-color-primary);
  margin-top: 24px;
}

@media (min-width: 992px) {
  footer#site-footer .footer-container .about .footer-about {
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  footer#site-footer .footer-container .about .footer-about {
    margin-bottom: 24px;
  }
}

footer#site-footer .footer-container .about .social-links {
  gap: 15px;
}

footer#site-footer .footer-container .about .social-links .item {
  width: 39px;
  height: 39px;
  border: 1px solid #ffffff96;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#site-footer .footer-container .about .social-links .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#site-footer .footer-container .about .social-links .item a img {
  height: 17px;
}

footer#site-footer .footer-container .about .footer-menu {
  margin-top: 25px;
}

@media (min-width: 1200px) {
  footer#site-footer .footer-container .about .footer-menu:not(.justify-content-center) {
    margin-left: 120px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  footer#site-footer .footer-container .about .footer-menu:not(.justify-content-center) {
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  footer#site-footer .footer-container .about .footer-menu {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
    row-gap: 24px;
  }
}

footer#site-footer .footer-container .about .footer-menu .item h4 {
  color: var(--e-global-color-primary);
  margin-bottom: 20px;
}

footer#site-footer .footer-container .about .footer-menu .item ul.footer-menu-class {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer#site-footer .footer-container .about .footer-menu .item ul.footer-menu-class li.menu-item {
  background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.6332 5.46475L1.91445 9.1835C1.65742 9.44053 1.2418 9.44053 0.9875 9.1835L0.369531 8.56553C0.1125 8.3085 0.1125 7.89287 0.369531 7.63857L3.00547 5.00264L0.369531 2.3667C0.1125 2.10967 0.1125 1.69404 0.369531 1.43975L0.984766 0.816309C1.2418 0.559277 1.65742 0.559277 1.91172 0.816309L5.63047 4.53506C5.89023 4.79209 5.89023 5.20771 5.6332 5.46475Z" fill="white"/></svg>');
  background-size: 5.65px 8.75px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 16px;
}

footer#site-footer .footer-container .about .footer-menu .item ul.footer-menu-class li.menu-item a {
  font-size: var(--font-s);
  line-height: normal;
  color: var(--e-global-color-primary);
  font-family: "Istok Web", sans-serif;
  text-decoration: none;
}

footer#site-footer .footer-container .about .footer-menu .item ul.footer-menu-class li.menu-item:not(:last-child) {
  margin-bottom: 12px;
}

footer#site-footer .footer-container .copyright p {
  color: var(--e-global-color-primary);
  text-align: center;
  font-size: var(--font-xs);
  line-height: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("../font/montserrat/montserrat-v31-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../font/montserrat/montserrat-v31-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../font/montserrat/montserrat-v31-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/montserrat/montserrat-v31-latin-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../font/montserrat/montserrat-v31-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../font/montserrat/montserrat-v31-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../font/montserrat/montserrat-v31-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../font/montserrat/montserrat-v31-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../font/montserrat/montserrat-v31-latin-900.woff2") format("woff2");
}

@font-face {
  font-family: 'Istok Web';
  src: url("../font/istok-web/istok-web-v26-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url("../font/istok-web/istok-web-v26-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.hero-front-page {
  background-color: var(--bg-color);
}

@media (min-width: 768px) {
  .hero-front-page {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero-front-page.bg-md-image {
    background-image: var(--bg-md-image);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .hero-front-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-front-page.bg-sm-image {
    background-image: var(--bg-sm-image);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .hero-front-page .row {
    row-gap: 80px;
  }
}

@media (max-width: 767px) {
  .hero-front-page .row {
    row-gap: 50px;
  }
}

.hero-front-page .content h1 {
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .hero-front-page .content .text-editor {
    width: 640px;
  }
}

.hero-front-page .content .text-editor p:last-child {
  margin-bottom: 0;
}

.hero-front-page .content .btn {
  margin-top: 36px;
}

.hero-front-page .featured-img {
  position: relative;
}

.hero-front-page .featured-img img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.hero-front-page .featured-img::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  background-image: url('data:image/svg+xml,<svg width="182" height="89" viewBox="0 0 182 89" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M176.772 85.9881C177.029 87.3446 178.338 88.2357 179.694 87.9783C181.051 87.7209 181.942 86.4126 181.684 85.0561L179.228 85.5221L176.772 85.9881ZM0.14555 34.1705C-0.00726782 35.5427 0.98126 36.779 2.35349 36.9318L24.7152 39.4221C26.0875 39.575 27.3238 38.5864 27.4766 37.2142C27.6294 35.842 26.6409 34.6057 25.2687 34.4529L5.39153 32.2392L7.60514 12.3621C7.75796 10.9899 6.76943 9.7536 5.3972 9.60078C4.02498 9.44796 2.78868 10.4365 2.63586 11.8087L0.14555 34.1705ZM179.228 85.5221L181.684 85.0561C176.893 59.8027 155.485 27.8077 123.433 11.5231C91.1128 -4.89802 48.2398 -5.22266 1.06894 32.4946L2.63019 34.4472L4.19144 36.3997C49.9691 -0.203595 90.7498 0.525888 121.168 15.9807C151.856 31.5721 172.273 62.2748 176.772 85.9881L179.228 85.5221Z" fill="white"/></svg>');
  width: 100%;
  height: 100%;
  top: auto;
  right: 0;
  bottom: auto;
  left: -140px;
  z-index: 1;
}

.hero-front-page .featured-img::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
  background-image: url('data:image/svg+xml,<svg width="252" height="114" viewBox="0 0 252 114" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.74177 2.0463C5.43247 0.700673 4.09089 -0.139429 2.74527 0.169874C1.39965 0.479176 0.559546 1.82076 0.868848 3.16638L3.30531 2.60634L5.74177 2.0463ZM251.946 63.8346C252.046 62.4575 251.011 61.2601 249.633 61.1601L227.193 59.5307C225.815 59.4308 224.618 60.4661 224.518 61.8431C224.418 63.2202 225.453 64.4176 226.83 64.5176L246.778 65.966L245.33 85.9134C245.23 87.2905 246.265 88.4879 247.642 88.5879C249.019 88.6879 250.216 87.6526 250.316 86.2755L251.946 63.8346ZM3.30531 2.60634L0.868848 3.16638C8.7456 37.4342 39.7547 80.167 84.5374 100.795C129.594 121.549 188.318 119.817 251.087 65.5447L249.452 63.6536L247.817 61.7624C186.397 114.868 129.748 116.115 86.6292 96.2537C43.2366 76.2659 13.2674 34.7865 5.74177 2.0463L3.30531 2.60634Z" fill="white"/></svg>');
  width: 100%;
  height: 100%;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 3;
}

.expertise {
  background-color: var(--bg-color);
}

.expertise.bg-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.expertise .intro {
  margin-bottom: 40px;
  text-align: center;
}

.expertise .row {
  row-gap: 24px;
}

.expertise .row .block {
  background-color: var(--e-global-color-primary);
  border-top: 12.5px solid var(--e-global-color-accent);
  padding: 52px 32px;
  border-radius: 8px 8px 80px 8px;
  position: relative;
  display: inline-block;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, var(--e-global-color-primary)), color-stop(50%, var(--e-global-color-accent)));
  background: linear-gradient(to top, var(--e-global-color-primary) 50%, var(--e-global-color-accent) 50%);
  background-size: 100% 200%;
  background-position: bottom;
  cursor: pointer;
  -webkit-transition: background-position 0.4s ease;
  transition: background-position 0.4s ease;
}

.expertise .row .block h1,
.expertise .row .block h2,
.expertise .row .block h3,
.expertise .row .block h4,
.expertise .row .block h5,
.expertise .row .block h6,
.expertise .row .block p,
.expertise .row .block a {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.expertise .row .block h3 {
  margin-bottom: 12px;
}

.expertise .row .block:hover {
  background-position: top;
}

.expertise .row .block:hover h1,
.expertise .row .block:hover h2,
.expertise .row .block:hover h3,
.expertise .row .block:hover h4,
.expertise .row .block:hover h5,
.expertise .row .block:hover h6,
.expertise .row .block:hover p,
.expertise .row .block:hover a {
  color: var(--e-global-color-primary);
}

.section_by_column {
  background-color: var(--bg-color);
}

.section_by_column.bg-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_by_column .row-layout .icon-list {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  gap: 28px;
}

.section_by_column .row-layout .icon-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.section_by_column .row-layout .icon-list .item h4 {
  margin: 0;
}

.section_by_column .row-layout .text-end .icon-list .item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section_by_column .row-layout .text-center .icon-list .item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_by_column .row-layout .customers {
  position: relative;
  z-index: 2;
}

.section_by_column .row-layout .customers-image .featured-image {
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  .section_by_column .row-layout .customers-image .featured-image {
    margin-top: -260px;
  }
}

/* section width */
:root {
  --site-max: calc(300px + 1440px);
}

.full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

@media (min-width: 1920px) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--site-max);
    width: 100%;
  }
  main .full-width {
    width: auto;
    margin-left: calc((100% - var(--site-max)) / 2);
    margin-right: calc((100% - var(--site-max)) / 2);
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  main {
    margin-top: 105px;
  }
}

@media (max-width: 767px) {
  main {
    margin-top: 90px;
  }
}

@media (min-width: 1367px) {
  .container {
    max-width: 1450px;
  }
}

@media (min-width: 1367px) {
  .container-fluid {
    max-width: 1600px;
  }
}

.edge-to-edge {
  max-width: 100%;
}

/*end*/
@media (max-width: 1366px) and (min-width: 768px) {
  section,
  footer,
  header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767px) {
  section,
  footer,
  header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 992px) {
  .padding-tp-default {
    padding-top: 100px;
  }
  .padding-bt-default {
    padding-bottom: 100px;
  }
  .bg-lg-contain {
    background-size: contain;
  }
  .bg-lg-auto {
    background-size: auto;
  }
  .bg-lg-left {
    background-position: left;
  }
  .bg-lg-right {
    background-position: right;
  }
  .gap_y_default {
    row-gap: 100px;
  }
  .gap_x_l {
    -webkit-column-gap: 120px;
            column-gap: 120px;
  }
  .gap_x_m {
    -webkit-column-gap: 80px;
            column-gap: 80px;
  }
  .gap_x_s {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .gap_x_default {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .padding-tp-default {
    padding-top: 80px;
  }
  .padding-bt-default {
    padding-bottom: 80px;
  }
  .bg-md-contain {
    background-size: contain;
  }
  .bg-md-auto {
    background-size: auto;
  }
  .bg-md-left {
    background-position: left;
  }
  .bg-md-right {
    background-position: right;
  }
  .gap_y_default {
    row-gap: 80px;
  }
  .gap_x_l {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .gap_x_m {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .gap_x_s {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .gap_x_default {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .padding-tp-default {
    padding-top: 50px;
  }
  .padding-bt-default {
    padding-bottom: 50px;
  }
  .bg-sm-contain {
    background-size: contain;
  }
  .bg-sm-auto {
    background-size: auto;
  }
  .bg-sm-left {
    background-position: left;
  }
  .bg-sm-right {
    background-position: right;
  }
  .gap_y_default {
    row-gap: 50px;
  }
  .gap_x_l {
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
  .gap_x_m {
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
  .gap_x_s {
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
  .gap_x_default {
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.wpcf7-form label {
  font-size: var(--font-l);
  font-weight: 600;
  line-height: 140%;
}

.wpcf7-form .wpcf7-form-control-wrap {
  margin-bottom: 22px;
  display: block;
  position: relative;
}

.wpcf7-form .wpcf7-form-control-wrap input,
.wpcf7-form .wpcf7-form-control-wrap textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1px solid var(--e-global-color-primary);
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 40px 10px 0px;
}

.wpcf7-form .wpcf7-not-valid-tip {
  font-size: var(--font-xs);
  position: absolute;
  bottom: 0;
  color: transparent;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
  width: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}

.wpcf7-form .wpcf7-submit {
  margin-top: 18px;
  margin-left: auto;
  display: block;
}

.wpcf7-form .wpcf7-response-output {
  color: var(--e-global-color-secondary);
  margin: 0;
  padding: 10px;
  font-size: var(--font-xs);
  text-align: center;
}

.wpcf7-form.invalid .wpcf7-response-output {
  display: none;
}

.wpcf7-form.sent .wpcf7-response-output {
  background-color: #78db81;
  border-color: #78db81 !important;
}

.appearance-theme .wpcf7-form {
  background-color: color-mix(in srgb, var(--e-global-color-primary) 22%, transparent);
}

@media (min-width: 768px) {
  .appearance-theme .wpcf7-form {
    padding: 71px 43px;
  }
}

@media (max-width: 767px) {
  .appearance-theme .wpcf7-form {
    padding: 50px 20px;
  }
}

.appearance-theme .wpcf7-form label {
  color: var(--e-global-color-primary);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input {
  color: var(--e-global-color-primary);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input::-webkit-input-placeholder {
  color: color-mix(in srgb, var(--e-global-color-primary) 80%, transparent);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input:-ms-input-placeholder {
  color: color-mix(in srgb, var(--e-global-color-primary) 80%, transparent);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input::-ms-input-placeholder {
  color: color-mix(in srgb, var(--e-global-color-primary) 80%, transparent);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input::placeholder {
  color: color-mix(in srgb, var(--e-global-color-primary) 80%, transparent);
}

.appearance-theme .wpcf7-form .wpcf7-form-control-wrap input.wpcf7-not-valid {
  border-color: #FFC107;
}

.appearance-theme .wpcf7-form .wpcf7-not-valid-tip {
  background-image: url('data:image/svg+xml,<svg fill="%23FFC107" width="32px" height="32px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 9.5899 50.2070 L 46.4102 50.2070 C 49.9257 50.2070 52.1289 47.6758 52.1289 44.4883 C 52.1289 43.5273 51.8947 42.5664 51.3791 41.6758 L 32.9336 8.6758 C 31.8789 6.7773 29.9570 5.7930 28.0117 5.7930 C 26.0899 5.7930 24.1211 6.7773 23.0664 8.6758 L 4.6446 41.6992 C 4.1289 42.5898 3.8711 43.5273 3.8711 44.4883 C 3.8711 47.6758 6.0977 50.2070 9.5899 50.2070 Z M 28.0117 34.1523 C 26.7695 34.1523 26.0899 33.4492 26.0430 32.1836 L 25.7149 20.6055 C 25.6680 19.3399 26.6524 18.4024 27.9883 18.4024 C 29.3008 18.4024 30.3320 19.3633 30.2852 20.6289 L 29.9336 32.1836 C 29.8868 33.4726 29.2070 34.1523 28.0117 34.1523 Z M 28.0117 42.8008 C 26.6524 42.8008 25.3868 41.7227 25.3868 40.2695 C 25.3868 38.8164 26.6289 37.7383 28.0117 37.7383 C 29.3946 37.7383 30.6368 38.7930 30.6368 40.2695 C 30.6368 41.7461 29.3711 42.8008 28.0117 42.8008 Z"/></svg>');
}

.appearance-default .wpcf7-form {
  background-color: var(--e-global-color-primary);
  -webkit-box-shadow: 0px 0px 40.8px 0px color-mix(in srgb, var(--e-global-color-secondary) 25%, transparent);
          box-shadow: 0px 0px 40.8px 0px color-mix(in srgb, var(--e-global-color-secondary) 25%, transparent);
}

@media (min-width: 768px) {
  .appearance-default .wpcf7-form {
    padding: 32px;
  }
}

@media (max-width: 767px) {
  .appearance-default .wpcf7-form {
    padding: 30px;
  }
}

.appearance-default .wpcf7-form label {
  color: var(--e-global-color-accent);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input {
  color: var(--e-global-color-secondary);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input::-webkit-input-placeholder {
  color: var(--e-global-color-text);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input:-ms-input-placeholder {
  color: var(--e-global-color-text);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input::-ms-input-placeholder {
  color: var(--e-global-color-text);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input::placeholder {
  color: var(--e-global-color-text);
}

.appearance-default .wpcf7-form .wpcf7-form-control-wrap input.wpcf7-not-valid {
  border-color: #ff0000;
}

.appearance-default .wpcf7-form .wpcf7-not-valid-tip {
  background-image: url('data:image/svg+xml,<svg fill="%23ff0000" width="32px" height="32px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 9.5899 50.2070 L 46.4102 50.2070 C 49.9257 50.2070 52.1289 47.6758 52.1289 44.4883 C 52.1289 43.5273 51.8947 42.5664 51.3791 41.6758 L 32.9336 8.6758 C 31.8789 6.7773 29.9570 5.7930 28.0117 5.7930 C 26.0899 5.7930 24.1211 6.7773 23.0664 8.6758 L 4.6446 41.6992 C 4.1289 42.5898 3.8711 43.5273 3.8711 44.4883 C 3.8711 47.6758 6.0977 50.2070 9.5899 50.2070 Z M 28.0117 34.1523 C 26.7695 34.1523 26.0899 33.4492 26.0430 32.1836 L 25.7149 20.6055 C 25.6680 19.3399 26.6524 18.4024 27.9883 18.4024 C 29.3008 18.4024 30.3320 19.3633 30.2852 20.6289 L 29.9336 32.1836 C 29.8868 33.4726 29.2070 34.1523 28.0117 34.1523 Z M 28.0117 42.8008 C 26.6524 42.8008 25.3868 41.7227 25.3868 40.2695 C 25.3868 38.8164 26.6289 37.7383 28.0117 37.7383 C 29.3946 37.7383 30.6368 38.7930 30.6368 40.2695 C 30.6368 41.7461 29.3711 42.8008 28.0117 42.8008 Z"/></svg>');
}

@media (min-width: 768px) {
  .padding-bt-none .wpcf7-form {
    border-radius: 64px 64px 0px 0px;
  }
}

@media (max-width: 767px) {
  .padding-bt-none .wpcf7-form {
    border-radius: 32px 32px 0px 0px;
  }
}

@media (min-width: 768px) {
  .padding-bt--default .wpcf7-form {
    border-radius: 52px;
  }
}

@media (max-width: 767px) {
  .padding-bt--default .wpcf7-form {
    border-radius: 30px;
  }
}
